header img {
  width: 30%;
  height: 10%;
}

body {
  margin: 5%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

p {
  width: 90%;
}

.skills ul {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 10%;
}

.title {
  /*text-align: left;*/
  /*float: left;*/
}

/*.date {
  text-align: right;
  float: right;
}*/
.itemhead {
  display: flex;
  justify-content: flex-end;
}

.connect {
  float: right;
  padding-right: 10%;
}

.connect li {
  padding-top: 15px;
}

.connect img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
  padding-left: 10%;
}
