header img {
  width: 275px;
  display: inline-block;
  min-width: 20px;
  height: 10%;
}

body {
  margin: auto;
  max-width: 80%;
}

section {
  /*border-top: 5px solid grey;*/
  display: block;
}

section ul {
  margin: 20px;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

p {
  width: 90%;
  padding: 0px;
  padding-left: 20px;
  margin: 0;
}

.title {
  display: inline-block;
}

.right {
  float: right;
  padding-right: 30px;
}

.connect {
  float: right;
  padding-right: 5%;
}

.connect li {
  padding-top: 15px;
}

.connect img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.contact {
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
  padding-left: 10%;
}

.skills ul {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 10%;
}

.section_head {
  padding: 0;
  /*margin: auto;*/
  /*text-align: center;*/
  border-bottom: 3px solid grey;
  width: 30%;
}
